<!DOCTYPE html>

<head>
    <title>Trip Overview</title>
    <!-- link to bootstrap stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- link to css stykesheet-->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Jura|Lobster" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="page-header">
        <h1 class="main-header"><a class="link-to-home" href="home.html">Road Trippin'</a></h1>
    </div>
    <div class="container">
        <div id="overviewImage">
        
        <div class="row">
        <ul id="tripInfo">
            {{#each trip}}
         <li><h1 id="overviewTripName"> Your Trip: {{this.name}} </h1></li>
          <li><h1 id="overviewTripDate"> We're Trippin' on: {{this.date}} </h1></li>
           <li><h1 id="overviewTripSpot"> We're Trippin' to: {{this.destination}} </h1></li>
           </ul>
             {{/each}}
            </div>
</div>


            <img src="./assets/images/convertible.jpg" alt="..." class="img-responsive img-rounded center-block" id="overview-jumbo">
            <div class="col-sm-3" id="navOverview">
                <ul class="nav nav-pills nav-stacked navbar-left" id="sidebar">
                    <li><a class="navigationOv" href="./addMember"><span class="nav">Members</span></a></li>
                    <li><a class="navigationOv" href="./transportation"><span class="nav">Transportation</span></a></li>
                    <li><a class="navigationOv" href="./necessities.html"><span class="nav">Necessities</span></a></li>
                </ul>
            </div>
            
        </div>
    </div>
</body>
</html>