
body {
    margin: 0 auto;
    background: url('../images/topography.png');
}

#overview-intro{
    margin: 10px;
    }

.glyphicon-user {
    font-size: 25px;
    margin: 10px;
}

 .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub-title{
    padding-left: 3%;
}

#overviewTripName{
   font-family:'Lobster', cursive;
}

.nav{
    margin-top: 10px;
}

table{
    border-collapse:  collapse;
}



.main-header {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: .8%;
    color: #fff;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

#tripName {
   width: 80%;
    margin-left: 10%;
}

#tripPasscode {
    width: 80%;
    margin-left: 10%;
}

.suitcase-icon {
    width: 80%;
    margin-top: 20%;
    margin-bottom: 10%;
}

.page-header {
    background-color: #C55A11;
    height: 7%;
    margin-top: -25px;
}

.jumbotron {
    margin-top: -30px;
    background-image: url('../images/roadtrip.png');
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
}

// jumbotron for trip overview page


.message-div {
    background-color: rgba(231, 230, 230, .85);
    height: 400px;
    margin-left: 90px;
}

.plan-existing-button {
    /*   background-color: #62BFBB;
    border-color: #62BFBB; */
    margin-left: 0%;
    margin-top: 45px;
    height: 300px;
    width: 300px;
    border-color: rgba(65, 113, 151, .87);
    background-color: rgba(65, 113, 151, .87);
}

h2{
   color: rgba(65, 113, 151, .87);
}

.create-new-button {
    /*   background-color: #62BFBB;
    border-color: #62BFBB; */
    margin-left: 5%;
    margin-top: 45px;
    height: 300px;
    width: 300px;
    border-color: rgba(65, 113, 151, .87);
    background-color: rgba(65, 113, 151, .87);
}




.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 100px;
    margin-bottom: 0;
}

.main-message {
    margin-top: 15%;
    margin-left: 30px;
    line-height: 150%;
    color: black;
}


input[type=text] {
    height: 35px;
    width: 95%;
    margin-left: 20px;
    margin-bottom: 10px;
}

label {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    color: grey;
}


.main-content{
    margin-left: 20%;


}

/*Bootstrap override -
 panel style on all pages*/
.panel-default{

    
    margin-top: 20px;
    margin-right: 10%;
}

/*Bootstrap override -
 panel body on all pages*/

panel-body{

text-align: left;


}

.directions{
    margin-left: 10%;
    font-style: italic;
    color: grey;
    font-size: 11px;
}


/*Bootstrap override -
 panel heading on all pages*/
.panel-default>.panel-heading{

    background-color: #fff;
    color: rgb(65, 113, 151);
    border-color: #fff;
}


/*Bootstrap override -
 panel heading on all pages*/
.panel-heading {
    padding: 10px 15px;
    font-size: 25px;
    margin-left: 2%;
    margin-right: 15%;
    padding-top: 20px;
}

.side-bar{
    margin-left: 15%;
}

.section {
    color: grey;
    margin-left: 1.5%;
}

a.link-to-home {
    color: #fff;
    text-decoration: none;
}

.btn-default {
    margin-left: 2%;
}

.submit-credentials{
    background-color: #62BFBB;
    border-color: #62BFBB;
    width: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 45px;
}

.add{
    background-color: #62BFBB;
    border-color: #62BFBB;
    width: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 45px;
}

.selectpicker {
    width: 210px;
    height: 40px;
    margin-left: 20px;
    background-color: white;
    border-color: #ccc;
    color: grey;
    font-size: 15px;
}

option {
    background-color: white;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.create-trip-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 300px;
}

.plan-trip-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 400px;
}


.add-friend-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 400px;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -240px;
}

.navigation{
    font-size: 15px;
    font-weight: bold;
    color: #48D1CC;
}



.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list-icon{
    width: 55px;
    height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

button.delete{
    width: 7px;
    height: 7px;
    margin-left: 10px;
    margin-right: 10px;

}

.delete-icon{
    width: 7px;
    height: 7px;
    margin-left: 10px;
    margin-right: 10px;

}




th{
    font-size: 12px;

}

.highlight{
    width: 80%;
    margin-left: 6%;
}

#resultImage {
    max-width: 200px;
    height: auto;
}


/* Checklist CSS */

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.tripForm input {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 40px);
    margin: 20px;
    margin-top: 5px;
    padding: 5px;
}

.formButtons {
    text-align: center;
}



/* media tags */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .jumbotron {
        height: 450px;
    }
    .message-div {
        height: 350px;
        margin-left: 10%;
    }
    .main-message {
        margin-top: 20%;
        font-size: 20px;
        line-height: 125%;
    }
    .main-button {
        margin-top: 30px;
    }
}
